<section class="main-grid">
  <div class="margin-left"></div>
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <div class="auth-form">
        <!-- EMAIL -->
        <mat-form-field class="auth-input" appearance="outline">
          <mat-label>Email</mat-label>
          <input matInput formControlName="email">
          <mat-error *ngIf="!email.valid && !email.errors?.noEmail">Not a valid email</mat-error>
          <mat-error *ngIf="email.errors?.noEmail">{{email.errors?.noEmail}}</mat-error>
        </mat-form-field>

        <!-- PASSWORD -->
        <mat-form-field class="auth-input" appearance="outline">
          <mat-label>Password</mat-label>
          <input matInput formControlName="password" type="password">
          <mat-error *ngIf="password.errors?.passwordFormatNotValid && !password.errors?.required">{{password.errors?.passwordFormatNotValid}}</mat-error>
          <mat-error *ngIf="password.errors?.wrongPassword">{{password.errors?.wrongPassword}}</mat-error>
        </mat-form-field>

        <!-- Submit button -->
        <div class="auth-submit">
          <button class="login-submit-btn" mat-flat-button color="primary" type="submit" [disabled]="!loginForm.valid">Submit</button>
        </div>
      </div>
    </form>
  <div class="margin-right"></div>
</section>
