<section class="main-grid">
  <div class="margin-left"></div>
  <form [formGroup]="signupForm" (ngSubmit)="onSubmit()">
    <div class="auth-form">

      <div class="auth-name">
        <!-- FIRST NAME -->
        <mat-form-field appearance="outline">
          <mat-label>First Name</mat-label>
          <input matInput formControlName="firstName">
        </mat-form-field>
        <div class="spacer"></div>
        <!-- LAST NAME -->
        <mat-form-field appearance="outline">
          <mat-label>Last Name</mat-label>
          <input matInput formControlName="lastName">
        </mat-form-field>
      </div>

      <!-- EMAIL -->
      <mat-form-field class="auth-input" appearance="outline">
        <mat-label>Email</mat-label>
        <input matInput formControlName="email">
        <mat-error *ngIf="email.errors?.duplicateEmail">{{email.errors?.duplicateEmail}}</mat-error>
        <mat-error *ngIf="!email.valid && !email.errors?.duplicateEmail">Not a valid email</mat-error>
      </mat-form-field>

      <!-- PASSWORD -->
      <mat-form-field  class="auth-input" appearance="outline">
        <mat-label>Password</mat-label>
        <input matInput formControlName="password" type="password">
        <mat-error *ngIf="password.errors?.required">Password is required</mat-error>
        <mat-error *ngIf="password.errors?.passwordFormatNotValid && !password.errors?.required">{{password.errors?.passwordFormatNotValid}}</mat-error>
      </mat-form-field>

      <!-- Submit button -->
      <div class="auth-submit">
        <button mat-flat-button color="primary" type="submit" [disabled]="!signupForm.valid">Submit</button>
      </div>
    </div>
  </form>

  <div class="margin-right"></div>
</section>
