/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


.main-grid{
  display: grid;
  grid-template-columns: 4fr 3fr 4fr;
  margin-top: 80px;
  grid-gap: 40px;
}

.auth-form{
  padding: 40px 20px 20px;
  border: 2px solid rgba(0,0,0,.12);
  border-radius: 25px;
}

.auth-input{
  width: 100%;
}

.auth-submit{
  width:100%;
  display: flex;
  justify-content: center;
}
