<mat-toolbar class="mat-elevation-z4" color="primary">
  <span>Application Title/Logo</span>
  <span class="spacer"></span>
  <a routerLink="/login" *ngIf="!userAuth.authenticated">Login</a>
  <a style="cursor: pointer" (click)="onLogout()" *ngIf="userAuth.authenticated">Logout</a>
  <a routerLink="/signup" *ngIf="!userAuth.authenticated">Signup</a>
</mat-toolbar>
<ng-content></ng-content>
